/*universal Css for nav footer and header//oisin*/

.homePagebody{
	background-color: white;
	color: black;
	margin-bottom: 0;
	border-style: solid;
	border-color: red;
	background-image: url("background.jpg");
}

.header{
	background-color: #F17100;
	height: 100px;
	padding-left: 17px;;
	font-size: 32px;
	text-align: center;
}
.navBar{
	background-color: #F18B00;
	padding:5px;
	height: 34px;
	text-align: right;
	padding-top: 17px;
	padding-left: 17px;
}

.subHeader{
	font-size: 35px;
}

.mainContent{
height: 70%;
padding: 15px;
margin: 0px;
}

.footer{
	background-color: #F1A100;
	color: white;
	position: fixed;
	height: 175px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
--------------------------------------------------
/*CSS for oisin blog//oisin*/
--------------------------------------------------
	#oisinPagebody{
		background-color: white;
		color: black;
		margin-bottom: 0;
		border-style: solid;
		border-color: red;
		background-image: url("background.jpg");
	}

		.oSubHeader{
			font-size: 35px;
		}
		
		
		.sidebar{
			background-color: C28C00;
			height: 880px;
			width: 10%;
			float: left;
			padding: 15px;
			padding-top: 0px;
			background-image: url("sidebarBackground.jpg");
		}

		.mainContent{
			height: 70%;
			padding: 15px;
			margin: 0px;
		}

		#cover{
			height: 100%;
			filter: blur(8px);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		
		
--------------------------------------------------
/*CSS for adam blog//adam*/
--------------------------------------------------
#aForm{
	position: absolute; /* this DIV has been removed completely, why it's here is if I remove the style it affects a completely different DIV (adamDPinto) */
	right: 100px; /* I think it's due to the DOCTYPE not having html beside it, lot of bugs including quirk mode, that I couldn't fix */
	bottom: 10px; /* not a mistake */
}
#adamDPinfo{
	border: 1px solid black; /* adds a border to the DIV tag highlighting the space it takes up */
	text-align: center; /* centers anything in the targeted DIV */
	font-size: 15px; /* changes writing size */
	background-color: #FFAA36;  /* Hex values (#) can get the specific color of choice that you want to use for your web browser, */
	margin: 1px; /* adds space between the DIV and the web brower */
	color: Black; /* adds color to the writing in the targeted DIV */
	font-family: "Abel";
}
#adamPagebody{
	background-color: white; 
	color: black; 
	margin-bottom: 0;
	background-image: url("background.jpg");  /* adds background picture to the webpage instead of a static colour */
	font-family: "Abel"; /* allows the link to change the website font */
}
#container{
	width: 99.5%; /* using % makes the webpage more responisve and phone and tablet friendly */
	height: 50%;
	text-align:center;
	padding: 1px;  /* adds space between the writing and the DIV */
	font-family: "Abel";
	border-radius: 1px; /* rounds the corners of the input box */
	font-size: 15px;
	padding: 0.5px; /* using decimals to get a precise placement */
}
#aheader{
	background-color: #F17100;
	height: 100px;
	padding-left: 17px;;
	font-size: 32px;
	text-align: center;
	font-family: "Teko"; /* allows the link to change the website font */
}
::placeholder{
	color: lightgrey; /* Tells the placeholder in the html document what color to be */
}
#alogo{
	position: absolute;
	left: 5%;
	top: 1.3%;
}
--------------------------------------------------
/*CSS for dymtro blog//dymtro*/
--------------------------------------------------
